*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
}

.randomCat__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
